#
# https://pypi.org/project/ansible/
#
ansible==7.3.0
#
ansible-runner
ansible-lint
yamllint
molecule[lint,docker,podman]
molecule-vagrant
python-vagrant
argcomplete # bash completion
dnspython   # used by lookup('dig')
requests    # used by check_versions.py
psutil      # used by ansible module dconf
