#
# https://pypi.org/project/ansible/
#
ansible==9.0.1
#
ansible-runner
ansible-lint
yamllint
molecule
molecule-plugins[docker,podman,vagrant]
python-vagrant
argcomplete # bash completion
dnspython   # used by lookup('dig')
requests    # used by check_versions.py
psutil      # used by ansible module dconf
